{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="웨딩그램, 프로포즈 사이트">
    <!-- 공유 시 OG이미지 사용을 위한 태그 모음 -->
    <meta property="og:type" content="website"> <!-- 공통 -->
    <meta property="og:url" content="https://www.weddingram.kr"> <!-- 공통 -->
    <meta property="og:title" content="웨딩그램(Weddingram)"> <!-- 공통 -->
    <meta property="og:image" content="https://www.weddingram.kr/static/images/ogimage_normal.png"> <!-- 공통 | 절대값으로 입력 -->
    <meta property="og:description" content="문창연, 송제희의 웨딩그램, 청첩장, 식장위치, 결혼날짜, 결혼식 장소"> <!-- 공통 -->
    <meta property="og:site_name" content="웨딩그램">
    <meta property="og:locale" content="utf-8">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary" /> <!-- 트위터 -->
    <meta name="twitter:title" content="웨딩그램(Weddingram)" /> <!-- 트위터 -->
    <meta name="twitter:description" content="문창연, 송제희의 웨딩그램, 청첩장, 식장위치, 결혼날짜, 결혼식 장소" /> <!-- 트위터 -->
    <meta name="twitter:image" content="https://www.weddingram.kr/static/images/ogimage_normal.png" /> <!-- 트위터 -->
    <meta name="twitter:site" content="@2dayer" />  <!-- 트위터 -->
    <meta name="twitter:creator" content="@2dayer" /> <!-- 트위터 -->
    <title>Weddingram</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2FE8PWJBQQ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2FE8PWJBQQ');
    </script>
  </head>
  <body>
    <div class="index-top">
        <div class="fixed">
             <div class="module">
                <div><img src="{% static 'images/main_cover.png' %}" alt=""></div>
                <div class="boxing">
                    <p>
                        <!-- 설명 -->
                        <div><span>😍웨딩그램에 오신 걸 환영합니다.</span><br>
                            <p style="margin-left: 24px;">Marc와 Jane의 이야기들을 만나보세요 :)</p><br></div>

                        <div><span>💬포스트마다 댓글을 남기실 수 있어요</span><br>
                            <p style="margin-left: 24px;">여러분의 댓글을 기다립니다 :)</p><br></div>

                        <div><span>🎵배경음악이 있어요!</span><br>
                            <p style="margin-left: 24px;">대부분의 브라우저에선 음악 자동재생을 지원하지 않습니다. 상단의 플레이 버튼을 눌러주세요.<br>
                                (모바일에선 가로 화면일 때만 보입니다)</p><br></div>

                        <div><span>🖥PC로도 확인해 보세요</span>
                            <br><p style="margin-left: 24px;">PC로 보시면 모바일보다 조금 더 많은 내용을 보실 수 있어요.</p></div>
                        <!-- 버튼 -->
                    </p>
                </div>
                <div class="p-footer" style="height: 100px;align-items: end">
                     <footer>
                         <p>Design and drawing by Marc<br>
                             <strong>© 2022 WEDDINGRAM FROM MARC</strong></p>
                     </footer>
                </div>
                <div style="height: 30px;"></div>
           </div>
        </div>
        <div class="btnb"><button class="goahead" onClick="location.href='/main/'">👏 하객 입장<img src="" style="width:20px;height:0;"></button></div>
    </div>


  </body>
</html>
