{% extends './base.html' %}
{% load static %}

{% block title %}
    Weddingram
{% endblock title %}

{% block search-block %}
<div class="search-guide">
  <span class="search-icon"></span>
  <input type="text" class="search-placeholder" value="검색" onfocus="if (this.value == '검색') {this.value = '';}" onblur="if (this.value == '') {this.value = '검색';}">
</div>
{% endblock search-block %}

{% block homemenu %}
<!--a href="/main/"><img src="{% static 'images/svg/home.svg' %}" id="ad_fd" class="postc" alt=""></a-->
{% endblock homemenu %}

{% block main-block %}
    <main>
      <div class="main-sub">
        <header>
          <div class="header-grid">
            <div class="profile-pic">
              <img src="{% static 'images/weddingram_profile.png' %}" />
            </div>
            <div class="profile-info">
              <div class="title">
                <h2>Weddingram</h2>
                <span class="verified-icon"></span>
                <button class="primary">verified</button>
              </div>
              <div class="desktop-only">
                <div class="details">
                  <ul>
                    <li>게시물 <span>42</span></li>
                    <li class="openPopupFollower">팔로워 <span>6.11m</span></li>
                    <li class="openPopupFollow">팔로우 <span>2</span></li>
                  </ul>
                </div>
                <div class="description row last">
                  <h1>WEDDINGRAM 🤵👰‍♀️</h1>
                  <span>
                    🗓️ 2022년 6월 11일, 🕛 12시 정각<br>
                    📌 의정부 서계종택 <a href="http://naver.me/GfaMZNkI" class="pd" target="_blank">naver.me/GfaMZNkI</a>
                  </span>
                  <div class="pds"><a href="https://www.instagram.com/marcngine/" target="_blank" style="color: #000;font-weight:500;">marcngine</a>님과
                     <a href="https://www.instagram.com/_your_jane/" target="_blank" style="color: #000;font-weight:500;">_your_jane</a>님이 팔로우합니다.</div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 프로필 설명 영역 모바일 화면 -->
          <div class="profile-info mobile-only">
            <div class="description row">
              <h1>WEDDINGRAM 🤵👰‍♀️</h1>
                  <span>
                    🗓️ 2022년 6월 11일, 🕛 12시 정각<br>
                    📌 의정부 서계종택 <a href="http://naver.me/GfaMZNkI" class="pd" target="_blank">naver.me/GfaMZNkI</a>
                  </span>
                  <div class="pds"><a href="https://www.instagram.com/marcngine/" target="_blank" style="color: #000;font-weight:500;">marcngine</a>님과
                     <a href="https://www.instagram.com/_your_jane/" target="_blank" style="color: #000;font-weight:500;">_your_jane</a>님이 팔로우합니다.</div>
                </div>
            </div>
          </div>
        </header>

        <!-- 혼인서약서 내용 -->
        <div class="b_contents">
            <h1>혼인서약서</h1>
            <div class="weddingvows">
                길고 긴 시간이었습니다.<br>
                인터넷이라는 가상의 공간에서 블로그 이웃으로 만나 약 10년,<br>
                그 후 연인으로 6년이라는 시간을 보낸 후에야 부부의 연을 맺게 되었습니다.<br><br>

                겁이 많고 여린 그녀와 함께 먼 길을 가기 위해선,<br>
                제가 더 용감해지고 단단해져야 한단 사실이 그간 못내 부담으로 다가왔습니다만<br>
                이젠 그 부담감조차 함께 할 나날들을 위한 기쁨으로 여기겠습니다.<br><br>

                그녀를 만난 후 저란 사람은 보다 넓은 시선으로 세상을 볼 수 있게 되었고,<br>
                남들을 조금 더 이해할 수 있게 되었습니다.<br><br>

                그럼에도 불구하고<br>
                그 긴 시간 동안 무언가 잘못한 게 있다면 저의 부덕함 때문이고,<br>
                무언가 서운하게 만든 게 있다면 저의 소홀함 때문이었습니다.<br><br>

                그런 부족한 점이 많은 저임에도<br>
                처음 만난 순간부터 지금까지 한결같이 옆에 있어준 신부에게 감사합니다.<br><br>

                유명한 사진작가인 앙리 카르티에 브레송의 말처럼<br>
                특별한 순간을 찾아 헤매기 보다, 매일이 특별해질 수 있도록 함께 노력하겠습니다.<br><br>

                처음 만났을 때의 설렘을 간직하고,<br>
                함께 지낸 날들의 즐거움을 기억하며,<br>
                앞으로도 언제나 지금처럼 소중히 여기며 오랫동안 함께 하겠습니다.<br><br>
            </div>
            <div class="weddingvows" style="text-align: center;background-color: #ECECEC"><br>
                평생 삶의 결정적 순간을 찾으려 했는데,<br>
                삶의 모든 순간이 결정적 순간이었다<br>
                - 앙리 카르티에 브레송 -
                <br><br>
            </div>
        </div>

        <!-- 푸터 영역 -->
        <div class="p-footer">
          <footer>
            {% endblock main-block %}
            {% block footer %}
          </footer>
        </div>

      </div>
    </main>
    {% endblock footer %}
